{% extends "ForexWebBundle:Layout:sidebar.html.twig" %}

{% block content %}
    <h2 class="subtitle">How much will I earn?</h2>
    <p>
        Some traders earn many thousands of dollars per month, some earn far less.
        Your earnings will depend on 3 things:
    </p>
    <ol>
        <li>The rebate rate at the broker you choose</li>
        <li>The pairs you trade</li>
        <li>The volume you trade on each pair</li>
    </ol>

    <p class="muted">To estimate or calculate your rebates, please see our cashback estimator in the sidebar.</p>
{% endblock %}
