{% extends "ForexWebBundle:Layout:sidebar.html.twig" %}

{% block content %}
    <h2>How to choose a broker</h2>
    <p>
        Sifting through all the information to find the right broker can become a consuming chore.
        While we do not publicly endorse any broker, we are selective in who we work with and their presence in our service typically reflects either our approval, consumer demand, or both.
        The cash rebate paid by choosing a specific broker is a legitimate criteria in selecting a broker, but it should only complement your primary criteria rather than be a determining factor.
        Different things are important to each trader based on his or her trading style, account size, location, etc.
        Some common criteria traders often pay attention to includes spreads and other potential transaction costs such as commission, regulatory environment or lack thereof, minimum trade size and initial deposit to open an account, reputation and user reviews, execution quality, reliability and uptime, maximum leverage available, etc.
        You can view and analyze this data for each broker on our broker comparison table, and by clicking on each broker individually for additional information.
        If you feel you need assistance selecting a broker, please do not hesitate to contact us, we are here to help.
    </p>
{% endblock %}
