{% extends "ForexWebBundle:Layout:sidebar.html.twig" %}

{% block content %}
    <h2 class="subtitle">How can I build a residual income stream by referring others to your website?</h2>
    <p>
        Many of our clients have built amazing residual income streams by referring other traders to us.
        All you need to do is refer other traders to our website using your unique referral link.
        When a trader you referred to us earns cash back, so do you, and if they refer friends who then refer friends you get paid on all those people's commissions as well!
        Once you are logged in, just look in your 'My Account' tab or at the top of any page for your referral link.
        For more details about our referral program please <a href="{{ path('referral-program') }}">click here</a>.
    </p>
{% endblock %}
