{% extends "ForexEmailBundle:Layout:formatted.html.twig" %}

{% block subjectLine %}
    {{ message.subjectLine }}
{% endblock %}

{% block content %}
    This is a test html email template.
    <h1>{{ email_link('/test', _message) }}</h1>
{% endblock %}
