{% extends "ForexEmailBundle:Layout:formatted.html.twig" %}

{% block subjectLine %}
    {{ message.subjectLine }}
{% endblock %}

{% block content %}
    <h2>This is a test html email template.</h2>
    <p style="color: #4D4D4D">This is some content.</p>
{% endblock %}
