parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     "forex"
    database_user:     "forex"
    database_password: "forex"

    mailer_transport:  smtp
    mailer_host:       "localhost"
    mailer_user:       "system@localhost"
    mailer_password:   "abc123"

    locale:            en
    secret:            abc123
