{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block content %}
    <h2>Our Brokers</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for broker in brokers %}
                <tr>
                    <td>{{ broker.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
