{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block content %}
    <h2>Frequently Asked Questions</h2>

    <h3>General Questions</h3>
    <dl>
        <dt>What is a rebate?</dt>
        <dd>A rebate is a refund that is paid back to a users introducing broker.</dd>
    </dl>

    <h3>Important Policies</h3>
    <dl>
        <dt>Multiple Accounts</dt>
        <dd>Clients may only register a single CashBackForex web account (not to be confused with broker accounts, you may add as many broker accounts as you like). If multiple CashBackForex web accounts for the same user are discovered, all accounts beyond the first will be disabled.</dd>

        <dt>Affiliate Referrers</dt>
        <dd>ForexCashBack clients may not be referrer's on their own account. Clients cannot change or modify their referrer, however if a client is referred by an affiliate and their account is not more than 30 days old and does not currently have a referrer, the referrer may be added by contacting us.</dd>
    </dl>

    <h3>How do I start getting paid for my trades?</h3>
    <ol>
        <li>Sign up for a free account on this site.</li>
        <li>Choose a broker and click the link or icon, then follow the instructions on the next page. You will receive a confirmation email from us when completed. As referrers, your broker pays us a portion of the spread or commission they charge you each time you place a trade. This commission is taken from the firm's marketing budget, so your spreads, costs, and service stay the same!</li>
        <li>Visit my payout options in your account tab and update your payment information.</li>
        <li>Begin actively trading the account, and wait for your cash back payments to arrive!</li>
    </ol>
{% endblock %}
