{% extends "ForexWebBundle:Layout:sidebar.html.twig" %}

{% block body_class 'homepage' %}

{% block content %}
    <h2 class="text-success" style="font-size:42px">Get paid to trade</h2>
    <p class="lead">Don't miss out on thousands of dollars a year</p>

    <h3>How does this work?</h3>
    <p>When you open a trading account through us we earn a commission from your broker for each trade you place. From this commission we in turn <span class="text-success">pay you cash</span> for each trade you place. Your spreads and trading conditions <b>DO NOT</b> change, they remain the same as if you had opened an account directly with the broker. Please read further on below for more details about our company and service.</p>

    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-large">Create Account <small>(its free)</small></a>

    <hr>

    <h3>How do I start earning cash rebates?</h3>
    <ol>
        <li>To start earning rebates, <a href="{{ path('fos_user_registration_register') }}" class="text-info">create a free ForexCashBack account</a>.</li>
        <li>After registering, view our <a href="{{ path('broker_list') }}">broker comparison table</a> or any other broker listing page on our site, and click on the broker you either want to open a trading account with or already have an account with.</li>
        <li>If you are opening a new account follow the new account instructions, if you have an existing account you should follow the existing accounts instructions if they are present.  If they are not present please contact our support staff for further instructions.</li>
        <li>Once logged in, go to the payment information page and complete the form to let us know how to pay you.</li>
        <li>You will receive a cash distribution for your earnings at least once per month, for more detailed information please see the payments faq.</li>
    </ol>

    <p class="muted">* The rebate process varies by broker and depends on whether you have an existing account or will open a new account.  Some processes are very easy while others require slightly more action such as closing all trades, etc.  Fortunately, the small amount of effort is worthwhile because you only have to complete the rebate process once and you will then earn cash on each trade for the entire remainder of the life of the account.</p>

    <div class="row">
        <div class="span5">
            <h3>What we do</h3>
            <p>Our service pays you cash for each trade you place at many industry leading currency trading brokers.  The spreads and trading conditions at the brokers we represent are never adversely affected by opening an account through us.  This would be counterintuitive to a trader's best interest and thus, our business model.  Cash rebates are paid on a monthly basis and can amount to very substantial savings, always increasing a trader's bottom line and often even making the difference between profit and loss.  Our friendly and knowledgeable support staff is available to assist with questions or problems most hours of the day via live chat, telephone, and email.</p>
        </div>

        <div class="span4">
            <h3>How it works</h3>
            <p>You may be wondering, how can we pay you for each trade you place without somehow adversely affecting trading conditions?  It is a great question, and the answer is simple.  We are paid a commission from the marketing budget of the brokerage firms we represent for each trade placed by a client we introduce to them, or who otherwise engages us as their 'introducing broker'.  We in turn keep only a portion of the commission and pass much of it onto our client.  Our clients get the same spreads and conditions as if they had opened an account directly with the broker, the only difference is a client that goes through us gets a cash commission for every trade placed on their account.  Our service is one of the most effective broker marketing tools on the entire web, so the brokers we represent are happy to pay us a volume based commission for the opportunity to appear on our website and gain clients.</p>
        </div>
    </div>

    <h3>Who we are</h3>
    <p>ForexCashBack was founded in May 2013 and is rapidly becoming a premier hub for traders shopping for forex brokers and products.</p>

    <div class="row">
        <div class="span5">
            <h3>How much will I earn?</h3>
            <p>Some traders earn many thousands of dollars per month, some earn far less.  Your earnings will depend on 3 things:</p>
            <ol>
                <li>The rebate rate at the broker you choose</li>
                <li>The pairs you trade</li>
                <li>The volume you trade on each pair</li>
            </ol>

            <p class="muted">To estimate or calculate your rebates, please see our cashback estimator in the sidebar.</p>
        </div>

        <div class="span4">
            <h3>When and how will I receive my payment?</h3>
            <p>Rebates are paid on a monthly basis no later than the 25th of the month following the month commissions were earned in.  The actual payment date varies based on the broker(s) and payment method you choose, please see the payments faq for more detailed information.</p>
        </div>
    </div>

    <h3>How to choose a broker</h3>
    <p>Sifting through all the information to find the right broker can become a consuming chore.  While we do not publicly endorse any broker, we are selective in who we work with and their presence in our service typically reflects either our approval, consumer demand, or both.  The cash rebate paid by choosing a specific broker is a legitimate criteria in selecting a broker, but it should only complement your primary criteria rather than be a determining factor.  Different things are important to each trader based on his or her trading style, account size, location, etc.  Some common criteria traders often pay attention to includes spreads and other potential transaction costs such as commission, regulatory environment or lack thereof, minimum trade size and initial deposit to open an account, reputation and user reviews, execution quality, reliability and uptime, maximum leverage available, etc.  You can view and analyze this data for each broker on our broker comparison table, and by clicking on each broker individually for additional information.  If you feel you need assistance selecting a broker, please do not hesitate to contact us, we are here to help.</p>

    <h3>How can I build a residual income stream by referring others to your website?</h3>
    <p>Many of our clients have built amazing residual income streams by referring other traders to us. All you need to do is refer other traders to our website using your unique referral link. When a trader you referred to us earns cash back, so do you, and if they refer friends who then refer friends you get paid on all those people's commissions as well! Once you are logged in, just look in your 'My Account' tab or at the top of any page for your referral link. For more details about our referral program please <a href="{{ path('referral-program') }}">click here</a>.</p>
{% endblock %}
