{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Payment Methods</h2>

    <p>Currently we only offer payouts through PayPal.  However, we are actively working on supporting additional methods in the future.</p>
{% endblock %}
