.main-container {
    padding: 60px 25px 40px;
    width: 100%;
    border-top: 1px solid @grayLight;
    border-bottom: 1px solid @grayLight;
    background: #fff;
    margin: 0 auto;
    z-index: 1;
}