body {
    background: url("/img/debut_light.png") repeat scroll 0 0 transparent;
}

#accountBar {
    background: @accountBarBackground;
    color: @accountBarText;
    border-bottom: 2px solid darken(@accountBarBackground, 10%);

    p {
        display: inline;
    }
}
