// http://colorschemedesigner.com/ - accented analogic @ 34D800

// Colors
// -------------------------
@primaryColor: #0E405E;
@secondaryColor: #00CCFF;
@blueBase: #20C4F4;
@blueMedium: #3BA4C9;
@blueDark: #146988;
@blueNavy: #0E405E;
@warnColor: #A81A6E;
@grayLighter: #F5F5F5;
@grayLight: #B3B3B3;
@grayDarker: #4C4C4C;

// Buttons
@btnPrimaryBackground: @blueBase;

// Links
@linkColor: #87CEFA;

// Typography
// -------------------------
@sansFontFamily:        "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "Arapey", Georgia, "Times New Roman", Times, serif;

// AccountBar
//--------------------------
@accountBarBackground: #0E405E;
@accountBarText: lighten(@accountBarBackground, 50%);


// Navbar
// -------------------------
@navbarHeight:                    60px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                @primaryColor;
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      @gray;
@navbarLinkColor:                 @gray;
@navbarLinkColorHover:            @grayDarker;
@navbarLinkColorActive:           @grayDark;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                darken(@navbarLinkColor, 25%);

// Inverted navbar
@navbarInverseBackground:                @primaryColor;
@navbarInverseBackgroundHighlight:       darken(@primaryColor, 10%);
@navbarInverseBorder:                    darken(@primaryColor, 15%);

@navbarInverseText:                      @white;
@navbarInverseLinkColor:                 @white;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @grayLighter;

// Hero
@heroUnitBackground: @grayLighter;
@heroUnitLeadColor: @grayDark;
.hero-unit {
  h1 {
    font-family: @serifFontFamily;
  }
}

.main-content {
  padding: 25px;
}
