body {
    background: url("/img/cream_dust.png") repeat scroll 0 0 transparent;
}

.homepage {
    h3 {
        font-family: @serifFontFamily;
    }
}

.main-content {
  padding: 25px;
}

.main-content {
    .border-radius( 5px );
    border: 1px solid @grayLighter;
    background: @white;
    margin-top: 5px;
}

.footer {
    .brand {
        color: @grayLight;
    }
    border-top: 3px solid @grayLight;
    margin-top: 15px;
    padding: 10px 0;
    background: @blueDark;
    color: @grayLighter;
    .high-risk {
        .warning-text {
            font-size: 11px;
        }
        .border-radius( 5px );
        border: 1px solid @grayLight;
        padding: 5px;
        margin-bottom: 5px;
        background: @blueMedium;
    }
}

.sidebar {
    h5 {
        .border-radius( 5px );
        background: @blueDark;
        color: @white;
        padding: 10px;
        margin-bottom: 5px;
    }
    .section {
        margin-bottom: 35px;
    }
}
