{% extends "ForexEmailBundle:Layout:formatted.html.twig" %}

{% block content %}
    <h2>Confirm Your Account</h2>

    <p><a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
{% endblock %}
