{% extends "ForexEmailBundle:Layout:base.html.twig" %}

{% block subjectLine %}
    {{ _message.subjectLine }}
{% endblock %}

{% block content %}
    <h2>Client Confirmation</h2>
    <p>
        Please confirm that the following client is registered under our account <i>ForexCashBack</i>.
    </p>

    {% if broker.ib_code %}
        <p>Our IB Code is <b>{{ broker.ib_code }}</b></p>
    {% endif %}

    <dl>
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>

        <dt>Account Number</dt>
        <dd>{{ account.account_number }}</dd>
    </dl>

    <p>If you have any questions, please contact us at <a href="accounts@forexcashback.com">accounts@forexcashback.com</a></p>
{% endblock %}
