{% extends "ForexEmailBundle:Layout:base.html.twig" %}

{% block content %}
    <h1>Help Form Request</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
{% endblock %}
