<footer class="footer-container" id="footer">
    <div class="inner-width">
        <div class="high-risk">
            <strong>High Risk Warning:</strong>
            <p class="warning-text">Forex, Futures, and Options trading has large potential rewards, but also large potential risks.  The high degree of leverage can work against you as well as for you.  You must be aware of the risks of investing in forex, futures, and options and be willing to accept them in order to trade in these markets.  Forex trading involves substantial risk of loss and is not suitable for all investors.  Please do not trade with borrowed money or money you cannot afford to lose.</p>
            <p class="warning-text">This website is neither a solicitation nor an offer to Buy or Sell currencies, futures, or options.  No representation is being made that any account will or is likely to achieve profits or losses similar to those discussed on this website.  Any opinions, news, research, analysis, prices, or other information contained on this website is provided as general market commentary and does not constitute investment advice.  Website owners and affiliates will not accept liability for any loss or damage, including without limitation to, any loss of profit, which may arise directly or indirectly from the use of or reliance on such information.  Please remember that the past performance of any trading system or methodology is not necessarily indicative of future results.</p>
        </div>
    </div>
    <div class="footer-links">
        <div class="inner-width">
            <div class="links">
                <div class="navbar navbar-inverse">
                    <div class="">
                        <div class="container">
                            <span class="brand">&copy; 2013 Forex CashBack, LLC</span>
                            <div class="navbar-collapse footer-collapse">
                                <ul class="nav pull-right">
                                    <li><a href="{{ path('risk-disclosure') }}">Risk Disclosure Statement</a></li>
                                    <li><a href="{{ path('registration-agreement') }}">Registration Agreement</a></li>
                                    <li><a href="{{ path('privacy-policy') }}" >Privacy Policy</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">Create Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</footer>