<header class="header-container" id="header">
    <div class="inner-width">
        <h1 class="logo">
        	<a class="brand" id="site-header" href="{{ path('homepage') }}">Forex Cash Back</a>
        </h1>
        <h2 class="tagline hidden-tablet hidden-phone">World Wide Leader in Forex Rebates</h2>
    </div>
</header>