<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title 'Forex' %}</title>
    {% stylesheets 'components/bootstrap/less/bootstrap.less' filter='less' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Forex</a>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content 'Default Content' %}
    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
