<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <title>{% block title 'Forex' %}</title>
    {% stylesheets 'css/main.less' filter='less' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="../components/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Forex Cash Back</h1>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">Forex</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content 'Default Content' %}
            <p><i class="icon-camera-retro icon-large icon-spin"></i> icon-camera-retro</p>
        </div>
    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
