<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <title>{% block title 'Forex' %}</title>
    {% stylesheets 'css/main.less' filter='less' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?cachebust={{ "now"|date() }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="../components/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div id="accountBar">
        <div class="container">
            <p>Welcome to Forex Cash Back</p>
            <ul class="pull-right inline">
                <li>Login</li>
                <li>Create Account</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h1>Forex Cash Back</h1>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">Home</a>
                        <a class="brand" href="/">FAQs</a>
                        <a class="brand" href="/">Brokers</a>
                        <a class="brand" href="/">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content 'Default Content' %}
        </div>
    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
