{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block _content %}
    <div class="row">
        <div class="span12">
            {% block content 'Default Content' %}
        </div>
    </div>
{% endblock %}
