{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block _content %}
    <div class="row">
        <div class="span8">
            {% block content 'Default Content' %}
        </div>
        <div class="span4 sidebar">
            {% include "ForexWebBundle:Layout:_sidebar.html.twig" %}
        </div>
    </div>
{% endblock %}
