{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2 class="subtitle">Privacy Policy</h2>

    <p>
        The confidentiality of client information is very important to Forex Cashback LLC, now referred to as the “Introducing Broker”.
        The Introducing Broker collects nonpublic personal information about its clients from information provided by the clients on account applications and forms, and through transactions that occur in the clients’ trading accounts.
        In order to register you on the site and fulfil our obligations, the Introducing Broker collects the following information: your name and surname, phone number, e-mail, trading account number and the broker’s name.
        In some cases, to identify the Customer, the Introducing Broker may request additional information. You furnish your information by registering at the site and via e-mail.
    </p>
    <p>
        Information we get independently includes your IP address, browser type, operating system, Internet provider, time, and pages of our site that you visit.
        We do it via cookies. Cookies help us to learn more about you by providing technical data that we may use to streamline your experience.
    </p>
    <p>
        The Introducing Broker does not disclose any nonpublic personal information about its clients to anyone, except as permitted or required by law.
        The Introducing Broker does not sell or furnish your personal information to any third parties for any reason except for the cases of official requests from administrative and/or judicial authorities.
        At times, the Introducing Broker may be required to furnish complete client records to regulators, legal counsel, courts of competent jurisdiction, or other entities as required by law.
        In addition, the Introducing Broker may be required to furnish tax information to the appropriate authority.
    </p>
    <p>
        The Introducing Broker maintains electronic safeguards to protect clients’ nonpublic personal information.
        The Company may amend the Privacy Policy by updating this page.
        By furnishing your information you agree to usage of this information subject to this Policy.
        If you have any questions on this Policy please contact Customer Support at <a href="mailto:help@forexcashback.com">help@forexcashback.com</a> of Forex Cashback LLC.
    </p>
{% endblock %}
