{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Registration Agreement</h2>

    <p>
        Forex Cashback LLC, now referred to as the “Introducing Broker” and the user registered at this website, hereinafter referred to as "the User", entered into the agreement to the following effect:
    </p>
    <ul>
        <li>The Introducing Broker is an agent of forex brokers represented on this website, hereinafter referred to as "the Brokers".</li>
        <li>The Introducing Broker undertakes to pay to the User a part of compensation obtained from the Broker, hereinafter referred to as "the Commission", upon successful approval of the account in the User’s profile on the Introducing Broker’s website, hereinafter referred to as "the Profile", according to conditions and in the amount specified on this website.</li>
        <li>The Introducing Broker shall be entitled not to pay Commission to the User in case of the Broker’s refusal to pay compensation. Such refusal can arise from breach of this Broker’s trading conditions by the User or for other reasons.</li>
        <li>A User may register only one Profile on the Introducing Broker’s website. In case of multiple Profiles registered by one User, the Introducing Broker shall be entitled to block all but one such Profiles.</li>
        <li>The Introducing Broker shall be entitled, if necessary, request additional documents for the User’s identification. Such documents may include copies of passport, driver’s license or other documents. If the User’s identification is not possible, the Introducing Broker shall be entitled not to pay Commission and may block the User’s Profile.</li>
        <li>The Introducing Broker undertakes to withdraw funds from the User’s Profile by any way to the User’s choice available through the Introducing Broker. Payment system commissions may be withheld.</li>
        <li>The Introducing Broker undertakes not to allow for transfer of information obtained from the User, to any third parties subject to the privacy policy available on this website.</li>
        <li>The Introducing Broker shall not be responsible for inaccuracy of information on this website and on third parties’ sites referenced on this site, but shall exert all efforts to keep information credible and updated.</li>
        <li>The Introducing Broker shall not be liable for losses on the User’s account arising from usage of analytical and other information available on this website.</li>
        <li>All information on this website belongs to the Introducing Broker and cannot be used or copied without the company’s consent.</li>
        <li>The Introducing Broker shall be entitled to block the User’s Profile in case of attempts of unauthorized access to information on the website, spam, impolite treatment of the company’s employees, and other actions preventing this website from proper operation.</li>
        <li>The User has read the Risk Disclosure Statement available on this website.</li>
    </ul>
{% endblock %}
