{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Risk Disclosure Statement</h2>

    <p>
        THE RISK OF LOSS IN TRADING COMMODITY INTERESTS CAN BE SUBSTANTIAL. YOU SHOULD THEREFORE CAREFULLY CONSIDER WHETHER SUCH TRADING IS SUITABLE FOR YOU IN LIGHT OF YOUR FINANCIAL CONDITION. IN CONSIDERING WHETHER TO TRADE OR TO AUTHORIZE SOMEONE ELSE TO TRADE FOR YOU, YOU SHOULD BE AWARE OF THE FOLLOWING:
    </p>
        IF YOU PURCHASE A COMMODITY OPTION YOU MAY SUSTAIN A TOTAL LOSS OF THE PREMIUM AND OF ALL TRANSACTION COSTS.
    </p>
    <p>
        IF YOU PURCHASE OR SELL A COMMODITY FUTURES CONTRACT OR SELL A COMMODITY OPTION OR ENGAGE IN OFF-EXCHANGE FOREIGN CURRENCY TRADING YOU MAY SUSTAIN A TOTAL LOSS OF THE INITIAL MARGIN FUNDS OR
        SECURITY DEPOSIT AND ANY ADDITIONAL FUNDS THAT YOU DEPOSIT WITH YOUR BROKER TO ESTABLISH OR MAINTAIN YOUR POSITION. IF THE MARKET MOVES AGAINST YOUR POSITION, YOU MAY BE CALLED UPON BY YOUR BROKER
        TO DEPOSIT A SUBSTANTIAL AMOUNT OF ADDITIONAL MARGIN FUNDS, ON SHORT NOTICE, IN ORDER TO MAINTAIN YOUR POSITION. IF YOU DO NOT PROVIDE THE REQUESTED FUNDS WITHIN THE PRESCRIBED TIME, YOUR POSITION MAY
        BE LIQUIDATED AT A LOSS, AND YOU WILL BE LIABLE FOR ANY RESULTING DEFICIT IN YOUR ACCOUNT.
    </p>
    <p>
        UNDER CERTAIN MARKET CONDITIONS, YOU MAY FIND IT DIFFICULT OR IMPOSSIBLE TO LIQUIDATE A POSITION. THIS CAN OCCUR, FOR EXAMPLE, WHEN THE MARKET MAKES A ‘‘LIMIT MOVE.’’
        THE PLACEMENT OF CONTINGENT ORDERS BY YOU OR YOUR TRADING ADVISOR, SUCH AS A ‘‘STOP-LOSS’’ OR ‘‘STOP-LIMIT’’ ORDER, WILL NOT NECESSARILY LIMIT
        YOUR LOSSES TO THE INTENDED AMOUNTS, SINCE MARKET CONDITIONS MAY MAKE IT IMPOSSIBLE TO EXECUTE SUCH ORDERS.
        A ‘‘SPREAD’’ POSITION MAY NOT BE LESS RISKY THAN A SIMPLE ‘‘LONG’’ OR ‘‘SHORT’’ POSITION.
        THE HIGH DEGREE OF LEVERAGE THAT IS OFTEN OBTAINABLE IN COMMODITY INTEREST TRADING CAN WORK AGAINST YOU AS WELL AS FOR YOU. THE USE OF LEVERAGE CAN LEAD TO LARGE LOSSES AS WELL AS GAINS.
    </p>
    <p>
        IN SOME CASES, MANAGED COMMODITY ACCOUNTS ARE SUBJECT TO SUBSTANTIAL CHARGES FOR MANAGEMENT AND ADVISORY FEES. IT MAY BE NECESSARY FOR THOSE ACCOUNTS THAT ARE SUBJECT TO THESE CHARGES TO
        MAKE SUBSTANTIAL TRADING PROFITS TO AVOID DEPLETION OR EXHAUSTION OF THEIR ASSETS.
    </p>
    <p>
        THIS BRIEF STATEMENT CANNOT DISCLOSE ALL THE RISKS AND OTHER SIGNIFICANT ASPECTS OF THE COMMODITY INTEREST MARKETS. YOU SHOULD THEREFORE CAREFULLY STUDY COMMODITY INTEREST TRADING BEFORE YOU TRADE.
    </p>
    <p>
        BEFORE YOU TRADE YOU SHOULD INQUIRE ABOUT ANY RULES RELEVANT TO YOUR PARTICULAR CONTEMPLATED TRANSACTIONS AND ASK THE FIRM WITH WHICH YOU INTEND TO TRADE FOR DETAILS ABOUT THE
        TYPES OF REDRESS AVAILABLE IN BOTH YOUR LOCAL AND OTHER RELEVANT JURISDICTIONS.
        CONCERNING OFF EXCHANGE TRADING, THE FUNDS DEPOSITED WITH A COUNTERPARTY FOR SUCH TRANSACTIONS WILL NOT RECEIVE THE SAME PROTECTIONS AS FUNDS USED TO MARGIN OR GUARANTEE EXCHANGE-TRADED FUTURES AND OPTION CONTRACTS. IF THE COUNTERPARTY BECOMES INSOLVENT AND YOU HAVE A CLAIM FOR AMOUNTS DEPOSITED OR PROFITS EARNED ON TRANSACTIONS WITH THE COUNTERPARTY, YOUR CLAIM MAY NOT BE TREATED AS A COMMODITY CUSTOMER CLAIM FOR PURPOSES OF THE BANKRUPTCY CODE AND REGULATIONS THEREUNDER. YOU MAY BE A GENERAL CREDITOR AND YOUR CLAIM MAY BE PAID, ALONG WITH THE CLAIMS OF OTHER GENERAL CREDITORS, FROM ANY MONIES STILL AVAILABLE AFTER PRIORITY CLAIMS ARE PAID. EVEN FUNDS THAT THE COUNTERPARTY KEEPS SEPARATE FROM ITS OWN FUNDS MAY NOT BE SAFE FROM THE CLAIMS OF PRIORITY AND OTHER GENERAL CREDITORS.
        FURTHER, YOU SHOULD CAREFULLY REVIEW THE INFORMATION CONTAINED IN THE RISK DISCLOSURE STATEMENT OF THE FUTURES COMMISSION MERCHANT OR
        RETAIL FOREIGN EXCHANGE DEALER THAT YOU SELECT TO CARRY YOUR ACCOUNT.
    </p>
    <p>
        THIS INTRODUCING BROKER DOES NOT ACCEPT FUNDS FROM A CLIENT FOR TRADING COMMODITY INTERESTS. YOU MUST PLACE ALL FUNDS FOR TRADING DIRECTLY WITH A FUTURES COMMISSION MERCHANT OR RETAIL FOREIGN EXCHANGE DEALER, AS APPLICABLE.
    </p>
{% endblock %}
