{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block content %}
    <h2>Create an account for {{ broker.name }}</h2>

    <form action="{{ path('account_create', {brokerId: broker.id}) }}" method="post">
        {{ form_widget(form) }}
        <button>Create Account</button>
    </form>
{% endblock %}
