<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ subject }}</title>
</head>
<body style="font-family:Helvetica, Arial, Sans-serif; margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#0b3487" style="border-spacing:0;">
    <tr>
        <td height="5">&nbsp;</td>
    </tr>
    <tr>
        <td width="600" valign="top" align="center" style="background-color:transparent;">
            <table cellpadding="0" cellspacing="0" width="600" style="border-spacing:0;">
                <tr>
                    <td width="72" valign="top">
                        <img src="{{ asset('/img/email/logo.png') }}" alt="Forex Cash Back" style="display:block; border:0;">
                    </td>
                    <td width="24" valign="top">&nbsp;</td>
                    <td width="504" valign="top">
                        <table cellpadding="0" cellspacing="0" width="504" style="border-spacing:0;">
                            <tr>
                                <td width="504" height="24" valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#20C4F4;text-transform:uppercase;">
                                    {{ "now"|date('M d Y') }}
                                </td>
                            </tr>
                            <tr>
                                <td width="504" valign="top" style="font-family:Helvetica,Arial,sans-serif;font-size:28px;color:#fff;font-weight:100;">
                                    ForexCashBack
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="5">&nbsp;</td>
    </tr>
</table>

<!-- MAIN CONTENT -->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ebebeb" style="border-spacing:0;">
    <tr>
        <td width="600" valign="top" align="center" style="background-color:transparent;">
            <table cellpadding="0" cellspacing="0" width="600">
                <tr>
                    <td colspan="5" width="600" height="16" valign="top" style="line-height:16px;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5" width="600" height="4" valign="top" style="line-height:4px;background:#f6990c;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">{% block content%}Default Content{% endblock %}</td>
                </tr>
                <tr>
                    <td colspan="5" width="600" height="8" valign="top" style="line-height:8px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- BEGIN FOOTER INCLUDE HERE -->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ebebeb" style="border-spacing:0;">
    <tr>
        <td width="100%" height="36" valign="top">&nbsp;</td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#f5f5f5" align="center">
    <tr>
        <td width="100%" bgcolor="#f5f5f5">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#ffffff">
                <tr>
                    <td style="border-top:2px solid #dadada; background-color:#ffffff; color:#4d4d4d; text-align:center; padding:15px 0 24px;">
                        <span style="display:block; font-size:19px; color:#4D4D4D; margin-bottom:0; padding-top:7px; font-weight:100;">The Worldwide Leader in Forex Rebates</span>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                <tr>
                    <td style="background-color:#0b3487; padding:20px 0;" align="center">
                        <table align="center" width="600">
                            <tr>
                                <td valign="middle" align="center">
                                    <span style="text-align:center; font-family:helvetica, arial, sans-serif; font-size:11px; color:#ffffff; line-height:18px;">
                                        We are here to help!<br>
                                        <strong><a href="http://www.forexcashback.com/en/contact" target="_blank" style="text-decoration:none; color:#20c4f4;">Contact Us</a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="tel:16154991053" style="color:#20c4f4 !important; text-decoration:none !important;">+1-615-499-1053</a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:help@forexcashback.com" target="_blank" style="text-decoration:none; color:#20c4f4;">help@forexcashback.com</a>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.forexcashback.com/en/help/faq" target="_blank" style="text-decoration:none; color:#20c4f4;">FAQ</a></strong>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
