{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Payment Methods</h2>

    <p class="lead">
        We offer payouts through the following methods.
        However, we will work with you to ensure that you receive all payouts.
        If you need additional assistance, feel free to <a href="{{ path('contact') }}">contact us</a>.
    </p>

    <ul class="payment-methods">
        <li><i>Skrill/Moneybookers</i> - $25 USD minimum accumulated cash rebate</li>
        <li><i>Paypal<i> - $25 USD minimum accumulated cash rebate</li>
        <li><i>Bank Wire</i> - $200 USD minimum accumulated cash rebate</li>
    </ul>
    <p>
        <b>Payment Processor Fees:</b> (We do not take any fees ourselves from payments)<br>
        <i>Skrill/Moneybookers Fee:</i> 0.50 Eur Cents or 1% of balance (whichever is smaller)<br>
        <i>Paypal Fee:</i> 1.9% to 3.4% + €0.35 EUR per transaction<br>
        <i>Bank Wire:</i> $40 International fee
    </p>
{% endblock %}
