{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Who We Are</h2>

    <p>
        <b>ForexCashBack LLC</b> was founded in May 2013 to act as an introducing broker for <a href="{{ path('broker_list') }}">the leading foreign exchange brokers</a> in the industry.<br>
        A foreign exchange commodity trading advisor founded the company.<br>
    </p>
    <p>
        We provide rebates to our customers from the commissions paid to brokers on every trade you make.<br>
        In most cases the rebate is <em>60% of the commission</em> we get paid for referring you to a broker.
        It can be as high as <b>80%</b> if you refer other traders to the site.
    </p>
    <p>
        We profit together and want you to be a successful trader that is both pleased with your broker and us as your referring partner.<br>
        We will try to assist you in choosing the best broker for you as each trader and broker are different.
    </p>
    <p>
        We take a personal approach to each client and try to respond to all questions within 24 hours.<br>
        We are constantly striving to be the <em>World Wide Leader in Forex Rebates</em> and highly value not only our reputation, but also our extensive one on one support for each client.
    </p>
    <p class="lead">
        If you have any questions, please <a href="{{ path('contact') }}">contact us</a>.
    <p>
{% endblock %}
