{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Who We Are</h2>

    <p>ForexCashBack was founded in May 2013 and is rapidly becoming a premier hub for traders shopping for forex brokers and products.</p>
{% endblock %}
